.tagline {
  grid-area: tagline;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f76c03;
  font-size: 32px;
  line-height: 1.2;
  text-shadow: 3px 3px 0 black;
  margin: 0;
  padding: 0;
}
