.tagline {
  grid-area: tagline;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #f76c03;
  font-size: 50px;
  line-height: 1.2;
  text-shadow: 2px 2px 0 #1f002a;
  margin-top: 80px;
  margin-bottom: 136px;
  padding: 0;
  -webkit-text-stroke: 0.8px black;
}

@media (max-width: 768px) {
  .tagline {
    white-space: pre-line;
    content: "Key To \A Success \A Is Coin – \A KeyCoin!";
  }
}