.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: orange; */
  padding: 45px 45px;
  font-size: 18px;
  font-family: "Grandstander", sans-serif;
  margin-left: 71px;
  margin-top: 47px;
  margin-bottom: 50px;
  margin-right: 78px;
}
.logo {
  margin-right: 20px;
}
.nav {
  display: flex;
  gap: 20px;
}
.header-nav {
  display: flex;
  gap: 30px;
}
.header-nav a {
  position: relative;
  padding: 0 30px;
}
.header-nav a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -12px;
  color: white;
}
a {
  color: white;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
