.footer-container {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  font-size: 18px;
  margin-left: 58px;
  margin-bottom: 54px;
  margin-right: 41px;
}
.footer-nav {
  display: flex;
  gap: 30px;
}

.footer-nav a {
  position: relative;
  padding: 0 10px;
  color: black;
  font-weight: 500;
  line-height: "120%";
  align-items: "center";
}

.footer-nav a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -12px;
  color: black;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.group-icons {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0 15px 20px 15px;
    height: auto;
  }
  .footer-nav-wrapper {
    display: none;
  }
}
