#root {
  margin: 0 auto;

  text-align: center;
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-grid {
  display: grid;
  grid-template-rows:
    auto /* Header */
    minmax(50vh, auto) /* HeroSection */
    minmax(50vh, auto) /* Stats */
    minmax(500px, auto) /* HowItWorks */
    auto /* Tagline */
    auto; /* Footer */
  grid-template-areas:
    "header"
    "hero"
    "stats"
    "how-it-works"
    "tagline"
    "footer";
  min-height: 100vh;
}

.app-header {
  grid-area: header;
}

.app-hero {
  grid-area: hero;
}

.app-stats {
  grid-area: stats;
}

.app-how-it-works {
  grid-area: how-it-works;
}

.app-tagline {
  grid-area: tagline;
}

.app-footer {
  grid-area: footer;
}
.hero-container {
  background-image: url("./img/icons/22628375_666330.png");
  background-size: cover;
  background-size: contain;
  background-size: 100% 100%;
}
