@import "/src/assets/fonts/fonts.css";

#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  font-family: "Balsamiq Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.app-grid {
  display: grid;
  grid-template-rows:
    auto /* Header */
    auto /* HeroSection */
    auto /* Stats */
    auto /* HowItWorks */
    auto /* Tagline */
    auto; /* Footer */
  grid-template-areas:
    "header"
    "hero"
    "stats"
    "how-it-works"
    "tagline"
    "footer";
  min-height: 100vh;
}

.app-header {
  grid-area: header;
}

.app-hero {
  grid-area: hero;
}

.app-stats {
  grid-area: stats;
}

.app-how-it-works {
  grid-area: how-it-works;
}

.app-tagline {
  grid-area: tagline;
}

.app-footer {
  grid-area: footer;
}
.hero-container {
  background-image: url("./img/elements/OrangeBackground.png");
  background-size: cover;
  background-size: contain;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .hero-container {
    background-image: url("./img/elements/BackgroundMobile.png");
  }
}
